
header {
    margin: 0px;
    background-color: black;
   height: 70px;
    width: 100%;

}
h1{
    color:yellow;
    font-style: normal;
}
h5{
    position: absolute;
    top: 20;
    font-size: 12px;
    left: 65%;
color: white;
    width: 100%
}
#p1 {
    position: absolute;
    top: 80;
    text-align: left;
    color: black;
    width: 100%

}

#p3{
    position: absolute;
    top: 200;
    text-align: center;
    color: black;
    width: 100%;

}
footer{
    color:yellow;
    text-align: center;
    background-color: dimgrey;
    height: 70spx;
    width: 100%;
}
